@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    max-width: 1310px;
    width: 100%;
    margin: auto;
    max-height: 1261px;
    height: 100%;
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px white;
}
.header_logo{
    margin-left: 56px;
    margin-bottom: 17px;
    margin-top: 10px;
}
.header_tabs{
    margin-top: 20px;
}
.ul_tabs{
    display: flex;
    list-style-type: none;
}
.tab{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 56px;
}

/*Прижимаю footer к низу?*/
main{
    flex: 1 0 auto;
}

.container_footer{
    display: flex;
    flex-direction: column;
    height: 100%;
}
footer{
    flex: 0 0 auto;
}
/*Прижимаю footer к низу?*/

footer{
    border-top: solid 2px white;
    display: flex;
    background-color: #0C0C0C;
}
.footer_logo{
    margin-left: 41px;
    margin-top: 29px;
    margin-bottom: 39px;
}
.footer_social{
    display: flex;
    margin-top: 110px;
}
.footer_social_tabs{
    display: flex;
    list-style-type: none;
}
.tab_social{
    margin-right: 26px;
}